
const promomanageview = {
  name: 'PromoManageView',

  components: {
    cpromocards
  },

  setup() {
    function createTabViewModel(){
      return {
        promos:  {
          active: {id:'',events:[]},
          prior:  {id:'',events:[]}
        },
        loaded: false
      }
    }

    const tab = ref('current');
    const tabName = {
      current: '',
      next: ''
    }

    const promos = reactive(createTabViewModel());
    const panel = ref([0]);

    const alphaicon = ref('mdi-sort-alphabetical-ascending');
    const dateicon = ref('mdi-sort-clock-ascending-outline');
    const numicon = ref('mdi-sort-numeric-ascending');

    const cardOptions = reactive({
      showDetails: true,
      sortKey: 'title',
      sortAsc: true
    })

    function sortItems() {
      cardOptions.sortAsc = !cardOptions.sortAsc;
      if (cardOptions.sortKey === 'date'){
        dateicon.value = 'mdi-sort-clock-' + (cardOptions.sortAsc ? 'ascending':'descending') + '-outline';
      } else if (cardOptions.sortKey === 'title'){
        alphaicon.value = 'mdi-sort-alphabetical-' + (cardOptions.sortAsc ? 'ascending':'descending');
      }  else if (cardOptions.sortKey === 'value'){
        numicon.value = 'mdi-sort-numeric-' + (cardOptions.sortAsc ? 'ascending':'descending');
      }

      promos.active.events.sort(getComparator());
      promos.prior.events.sort(getComparator());
    }

    // Short hand convenience method to get the needed promo even comparator
    function getComparator() {
      return getPromoComparator(cardOptions.sortKey, cardOptions.sortAsc)
    }

    async function getEvents() {
      console.log("Fetching all active and inactive promotions");        
      google.script.run.withSuccessHandler(
          (data) => {
            promos.active=data;
            promos.active.events.sort(getComparator());
            promos.loaded = true;
            }
        ).getActivePromoEventsModel();
      google.script.run.withSuccessHandler(
        (data) => {
          promos.prior=data;
          promos.prior.events.sort(getComparator());
          promos.loaded = true;
          }
      ).getPriorPromoEventsModel();
    }

    function refresh(){
      promos.loaded = false;
      getEvents();
    }

    //TODO: Find Better Way to handle this
    //FIXME: Now that the prior promos tab added, this needs to delete from the proper list
    watch(lastAction, (currentValue, oldValue) => {
      console.log('Last Action: [' + currentValue + '][' + lastActionModel.value +']')
      if (['promodeleted'].includes(currentValue)){
        promos.active.events.splice(lastActionModel.value,1);
        lastAction.value = '';
        lastActionModel.value = '';        
      } 
    })

    onMounted(() => {
      getEvents();
    })

    return {
      tab,
      tabName,
      promos,
      panel,
      cardOptions,
      alphaicon,
      dateicon,
      numicon,
      sortItems,      
      refresh
    }
  },

  template: /*html*/ `
    <v-tabs
      v-model="tab" 
      align-tabs="title"
      bg-color="cyan-darken-3"
      center-active
      slider-size="10" 
    >
      <v-tab
        key="active"
        text="Active"
        value="active"
      ></v-tab>
      <v-tab
        key="prior"
        text="Prior"
        value="prior"
      ></v-tab>
    </v-tabs>
    
    <v-btn-toggle
      v-model="cardOptions.sortKey"
      color="primary"
      mandatory
    >
      <v-btn :icon="alphaicon" value="title" @click="sortItems()"></v-btn>
      <v-btn :icon="dateicon" value="date" @click="sortItems()"></v-btn>
      <v-btn :icon="numicon" value="value" @click="sortItems()"></v-btn>
    </v-btn-toggle>

    <v-tabs-window v-model="tab">
      <v-tabs-window-item key="active" value="active">
        <v-container v-if="!promos.loaded" class="pa-2">
          <v-progress-circular indeterminate></v-progress-circular>          
        </v-container>
        <v-container v-else class="pa-2">
          <cpromocards v-model="promos.active" :options="cardOptions"></cpromocards>
        </v-container>
      </v-tabs-window-item>
      <v-tabs-window-item key="prior" value="prior">
        <v-container class="pa-2">
          <cpromocards v-model="promos.prior" :options="cardOptions"></cpromocards>
        </v-container>
      </v-tabs-window-item>
    </v-tabs-window> 
   `
}


